@model IEnumerable<FirstBlog1.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>
    <div class="row">
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="row justify-content-center">
                <div class="col-6">
                    <img class="card-img-top" src="@Url.Content(item.Image)" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">@item.Heading</h3>

                        <h5 class="card-text">@item.Description</h5>
                        <br />
                        <p class="card-text">@item.Author</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group mt-4">
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>